.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 20px 40px 20px;
}

.footer-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: var(--grey-color-400, #a4a4a4);
  cursor: pointer;
}
