@import "@/styles/_breakpoints.scss";
.home-page-stats-section {
  width: 100%;
  box-sizing: border-box;
  display: grid;
  gap: 24px;
  align-items: flex-start;
  grid-template-columns: repeat(3, 1fr);
  overflow: visible;

  @media (max-width: $large-page) {
    width: calc(100% + 40px) !important;
  }
}

.home-page-stats-section > * {
  scroll-snap-align: center;
}
