@use "sass:color";
$accent-color-1: var(--accent-color-1);

.pill-niche {
  padding: 2px 8px;
  border-radius: 5px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-width: 1px;
  width: auto; /* Ensure auto width */
  white-space: nowrap; /* Prevent text from wrapping */

  background-color: rgba(var(--accent-color-1-rgb), 0.15);
  border: 1px solid rgba(var(--accent-color-1-rgb), 0.3);
  color: black;
}
