@import "@/styles/_breakpoints.scss";

.display-text-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 4px;
  align-self: stretch;
}

.display-text-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 4px;
  align-self: stretch;

  @media (max-width: $medium-screen) {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.display-text-label {
  color: var(--font-body-text-inactive-text, #555);
  margin: 0px;

  @media (max-width: $medium-screen) {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
}

.display-text-value {
  width: 100%;
  white-space: pre-wrap;
  color: var(--font-heading-active-text, #292929);

  @media (max-width: $medium-screen) {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }
}
